.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalTitle {
	color: #007bff;
	margin-bottom: 20px;
	font-size: 1.5rem;
}
.label {
	color: black;
}
.modalInput,
.modalSelect,
.modalTextarea {
	width: 100%;
	padding: 10px;
	color: black;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modalButton {
	background-color: #007bff;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modalButton:hover {
	background-color: #0056b3;
}
